body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
header, main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btnOnOff{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}